.Background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #3D525B;
    align-items: center;
}
.ExternalCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    /* width: 680px; */
    /* height: 680px; */
    background: #6F848E;
    /* border-radius: 680px; */
}
.InternalCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 590px;
    height: 590px; */
    background: #E8E8E8;
    border-radius: 100%;
}
.Numbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 564px;
    height: 564px; */
    /* background: red; */
}
.Line > p , .Numbers > p{
    margin: 0px;
    /* width: 72.9px;
    height: 72.9px; */
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    /* font-size: 60.3px;
    line-height: 73px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}
.Line{
    display: flex;
    /* background-color: green; */
}
.sec{
    /* margin-bottom: 8.5px;
    margin-top: 8.5px; */
    display: flex;
    justify-content: space-between;
}
.tert{
    /* margin-bottom: 16.5px;
    margin-top: 16.5px; */
    display: flex;
    justify-content: space-between;
}
.main{
    /* margin-top: 25px;
    margin-bottom: 25px; */
    display: flex;
    justify-content: space-between;
}
.dial{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clockPin{
    /* border-radius: 20px; */
    position: absolute;
}
.clockPin.Sec{
    /* width: 145.8px; */
    height: 0px;
    /* border: 4px solid #3D525B;
    background-color: #3D525B; */
    /* border: 3px solid blue; */
    background-color: blue;
    /* transform: rotate(-113.82deg) translate(72.9px, 0%); */
    /* transform: translate(72.9px, 0%); */
}
.clockPin.Min{
    /* width: 178.8px; */
    /* border: 10px solid #000000;
    background-color: #000000; */
    /* border: 5px solid green; */
    background-color: green;
    /* transform: translate(89.4px, 0%); */
}
.clockPin.Hour{
    /* width: 122.4px; */
    /* border: 10px solid #000000;
    background-color: #000000; */
    /* border: 7px solid red; */
    background-color: red;
    /* transform: rotate(-90deg) translate(61.2px, 0%); */
    /* transform: translate(61.2px, 0%); */
}
*{
    --base-resolution: 1920;
    --actual-resolution: 360;
}
@media (min-width: 400px) {
    *{
        --actual-resolution: 400;
    }
}
@media (min-width: 640px) {
    *{
        --actual-resolution: 640;
    }
}
@media (min-width: 1024px) {
    *{
        --actual-resolution: 1024;
    }
}
@media (min-width: 1360px) {
    *{
        --actual-resolution: 1360;
    }
}
@media (min-width: 1920px) {
    *{
        --actual-resolution: 1920;
    }
}
@media (min-width: 1920px) {
    *{
        --actual-resolution: 1920;
    }
}
*{
    --mult-factor: calc(var(--actual-resolution)/var(--base-resolution));
}
@media (orientation: portrait) {
    *{
        --mult-factor: calc(var(--actual-resolution)/var(--base-resolution) * 2);
    }
}
*{
    --clock-width: calc(680px * var(--mult-factor));
    --internal-circle-width: calc(590px * var(--mult-factor));
    --numbers-width: calc(564px * var(--mult-factor));
    --number-width: calc(72.9px * var(--mult-factor));
    --number-font-size: calc(60.3px * var(--mult-factor));
    --number-line-height: calc(73px * var(--mult-factor));
    --sec-margin: calc(8.5px * var(--mult-factor));
    --sec-width: calc(318.8px * var(--mult-factor));
    --tert-margin: calc(16.5px * var(--mult-factor));
    --tert-width: calc(498.8px * var(--mult-factor));
    --main-margin: calc(25px * var(--mult-factor));
    --main-width: calc(563.8px * var(--mult-factor));
    --clockPin-border-radius: calc(20px * var(--mult-factor));
    --clockPin-Sec-width: calc(145.8px * var(--mult-factor));
    --clockPin-Sec-transform: translate(calc(72.9px * var(--mult-factor)), 0%);
    --clockPin-Sec-border: calc(3px * var(--mult-factor)) solid blue;
    --clockPin-Min-width: calc(178.8px * var(--mult-factor));
    --clockPin-Min-transform: translate(calc(89.4px * var(--mult-factor)), 0%);
    --clockPin-Min-border: calc(5px * var(--mult-factor)) solid green;
    --clockPin-Hour-width: calc(122.4px * var(--mult-factor));
    --clockPin-Hour-transform: translate(calc(61.2px * var(--mult-factor)), 0%);
    --clockPin-Hour-border: calc(7px * var(--mult-factor)) solid red;
    --number-start-end-margin: calc(-40px * var(--mult-factor));
}
.ExternalCircle{
    width: var(--clock-width);
    height: var(--clock-width);
}
.InternalCircle{
    width: var(--internal-circle-width);
    height: var(--internal-circle-width);
}
.Numbers{
    width: var(--numbers-width);
    height: var(--numbers-width);
}
.Line > p , .Numbers > p{
    width: var(--number-width);
    height: var(--number-width);
    font-size: var(--number-font-size);
    line-height: var(--number-line-height);
}
.sec{
    margin-bottom: var(--sec-margin);
    margin-top: var(--sec-margin);
    width: var(--sec-width);
}
.tert{
    margin-bottom: var(--tert-margin);
    margin-top: var(--tert-margin);
    width: var(--tert-width);
}
.main{
    margin-bottom: var(--main-margin);
    margin-top: var(--main-margin);
    width: var(--main-width);
}
.clockPin{
    border-radius: var(--clockPin-border-radius);
}
.clockPin.Sec{
    width: var(--clockPin-Sec-width);
    transform: var(--clockPin-Sec-transform);
    border: var(--clockPin-Sec-border);
}
.clockPin.Min{
    width: var(--clockPin-Min-width);
    transform: var(--clockPin-Min-transform);
    border: var(--clockPin-Min-border);
}
.clockPin.Hour{
    width: var(--clockPin-Hour-width);
    transform: var(--clockPin-Hour-transform);
    border: var(--clockPin-Hour-border);
}
.Numbers > p{
    margin-top: var(--number-start-end-margin);
    margin-bottom: var(--number-start-end-margin);
}